In [1]:
import pandas as pd

In [19]:
df = pd.DataFrame({'mixed_data' : [1 ,2 ,3 , 'd3']})
df

  mixed_data
0          1
1          2
2          3
3         d3

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   mixed_data  4 non-null      object
dtypes: object(1)
memory usage: 164.0+ bytes

In [21]:
df['mixed_data'].replace("d3", '4' , inplace=True)
df

C:\Users\lenovo\AppData\Local\Temp\ipykernel_11828\1326486630.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['mixed_data'].replace("d3", '4' , inplace=True)

  mixed_data
0          1
1          2
2          3
3          4

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   mixed_data  4 non-null      object
dtypes: object(1)
memory usage: 164.0+ bytes

In [31]:
df['mixed_data'] = df['mixed_data'].astype('int64')

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   mixed_data  4 non-null      int64
dtypes: int64(1)
memory usage: 164.0 bytes